{% load static %}


<section id="featured-cars" class="featured-cars border">
  <div class="container">
    <div class="section-header">
      <h2>İlginizi Çekebilir</h2>
    </div>
    <!-- /.section-header -->
    <div class="featured-cars-content">
      <div class="row">
        {% for rasgele in rasgele_ilanlar %}
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-featured-cars">
              <div class="featured-img-box">
                <div class="featured-cars-img">
                  <a href="{% url 'ilandetayı' slug=rasgele.slug %}"><img src="{{ rasgele.banner.url }}" alt="cars" /></a>
                </div>
                <div class="featured-model-info">
                  <p>
                    model: {{ rasgele.model }}
                    <span class="featured-mi-span">{{ rasgele.km }} KM</span>
                    <span class="featured-hp-span">{{ rasgele.price }} TL</span>
                    {{ rasgele.gearbox }}
                  </p>
                </div>
              </div>
              <div class="featured-cars-txt">
                <h2 class="d-flex align-center justify-content-center"><a href="ilanlar/{{rasgele.slug}}">{{ rasgele.title|truncatechars:25 }}</a></h2>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        
        
          <button onclick="location.replace('ilanlar')" class="col btn btn-outline-primary">Daha fazla görüntüle</button>
       
  
      </div>
    </div>
  </section>
  
  <div class="container mt-3 ">
    <div class="row">
      <div class="col"></div>
      <div class="col-8">
        <div class="card alert alert-success">
          <div class="card-body d-flex justify-content-around align-items-center">
            <h1 class="card-text h6">Aracını kolaylıkla satmak mı İstiyorsun?</h1>
            <button onclick="location.replace('ilan-ver')" class="btn btn-outline-danger  ">Hemen İlan ver!</button>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>


<!-- featured-cars start -->
<section id="featured-cars" class="featured-cars border">
  <div class="container">
    <div class="section-header">
      <h2>Son Eklenen İlanlar</h2>
    </div>
    <!-- /.section-header -->
    <div class="featured-cars-content">
      <div class="row">
        {% for deal in deals %}
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-featured-cars">
              <div class="featured-img-box">
                <div class="featured-cars-img">
                  <a href="ilnlar/{{ deal.slug }}"><img src="{{ deal.banner.url }}" alt="cars" /></a>
                </div>
                <div class="featured-model-info">
                  <p>
                    model: {{ deal.model }}
                    <span class="featured-mi-span">{{ deal.km }} KM</span>
                    <span class="featured-hp-span">{{ deal.price }} TL</span>
                    {{ deal.gearbox }}
                  </p>
                </div>
              </div>
              <div class="featured-cars-txt">
                <h2 class="d-flex align-center justify-content-center"><a href="ilanlar/{{deal.slug}}">{{ deal.title|truncatechars:25 }}</a></h2>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      
      
        <button onclick="location.replace('ilanlar')" class="col btn btn-outline-primary">Daha fazla görüntüle</button>
     

    </div>
  </div>
</section>
