{% load static %}



<footer id="contact" class="contact">
  <div style="padding: 20px;">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="single-footer-widget">
            <div class="footer-logo">
              <a href="index.html">{{sett.title}}</a>
            </div>
            <p>{{sett.description}}</p>
            <div class="footer-contact">
              <p>{{sett.email}}</p>
              <p>{{sett.number}}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="single-footer-widget">
            <h2>Navigations</h2>
            <ul>
              <li>
                <a href="/">Ana Sayfa</a>
              </li>
              <li>
                <a href="{% url "ilanlar" %}">İlanlar</a>
              </li>
              <li>
                <a href="{% url "hakkimizda" %}">Hakkımızda</a>
              </li>
              <li>
                <a href="{% url "iletişim" %}">İletişim</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="single-footer-widget">
            <h2 class="text-center">top brands</h2>
            <div class="row">
              <div class="col">
                <ul>
                  <li>
                    <a href="#">BMW</a>
                  </li>
                  <li>
                    <a href="#">lamborghini</a>
                  </li>
                  <li>
                    <a href="#">camaro</a>
                  </li>
                  <li>
                    <a href="#">audi</a>
                  </li>
                  <li>
                    <a href="#">infiniti</a>
                  </li>
                  <li>
                    <a href="#">nissan</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-5 col-xs-6">
                <ul>
                  <li>
                    <a href="#">ferrari</a>
                  </li>
                  <li>
                    <a href="#">porsche</a>
                  </li>
                  <li>
                    <a href="#">land rover</a>
                  </li>
                  <li>
                    <a href="#">aston martin</a>
                  </li>
                  <li>
                    <a href="#">mersedes</a>
                  </li>
                  <li>
                    <a href="#">opel</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="row">
        <div class="col-sm-6">
          <p>
            &copy; copyright.designed and developed by <a href="https://www.themesine.com/">themesine</a>.
          </p>
          <!-- /p -->
        </div>
        <div class="col-sm-6">
          <div class="footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.footer-copyright -->
  </div>
  <!-- /.container -->

</footer>
