{% load static %}

<!-- NAVBAR -->
<nav class="nav">
  <h1 class="siteBaslik">CarVilla</h1>
  <ul class="nav-links">
    <li> 
      <a class="navLinks" href="/">Ana Sayfa</a>
    </li>
    <li>
      <a class="navLinks" href="ilanlar">İlanlar</a>
    </li>
    <li>
      <a class="navLinks" href="{% url "hakkimizda" %}">Hakkımızda</a>
    </li>
    <li>
      <a class="navLinks" href="{% url "iletişim" %}">İletişim</a>
    </li>
    <li>
      <a class="navLinks" href="" style="font-size: 12px;">Oturum Aç</a> | <a class="navLinks" href="" style="font-size: 12px;">Kayıt Ol</a>
    </li>
    <!--  <li>
          <div class="search">
              <input type="search">
              <button class="btn btn-dark text-white">Search</button>
          </div>
      </li>  -->
  </ul>
  <div class="burger">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</nav>
