{% load static %}

<!-- NAVBAR -->
<nav class="nav">
  <h1 class="siteBaslik">CarVilla</h1>
  <ul class="nav-links">
    <li> 
      <a class="navLinks" href="/">Ana Sayfa</a>
    </li>
    <li>
      <a class="navLinks" href="{% url "ilanlar" %}">İlanlar</a>
    </li>
    <li>
      <a class="navLinks" href="{% url "hakkimizda" %}">Hakkımızda</a>
    </li>
    <li>
      <a class="navLinks" href="{% url "iletişim" %}">İletişim</a>
    </li>
    <li>
      {% if user.is_authenticated %}
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{% static 'images/clients/c1.png' %}" alt="" width="25" class="rounded-circle ">
          {{user.username}}
        </button>
        <div class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton" style="width: 300px; height: 200px;">
          <a class="dropdown-item" href="#">Hesabım</a>
          <a class="dropdown-item" href="#">İlanlarım</a>
          <a class="dropdown-item" href="#">İlan ver</a>
          <a class="dropdown-item" href="#">Favorilerim</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Çıkış yap</a>
        </div>
      </div>
      {% else %}
      <a class="navLinks" href="{% url "login" %}" style="font-size: 12px;">Oturum Aç</a> | <a class="navLinks" href="{% url "register" %}" style="font-size: 12px;">Kayıt Ol</a>
      {% endif %}
    </li>
    <!--  <li>
          <div class="search">
              <input type="search">
              <button class="btn btn-dark text-white">Search</button>
          </div>
      </li>  -->
  </ul>
  <div class="burger">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</nav>
