{% extends 'homebase.html' %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  {% include 'search.html' %}

  <div class="container mt-3">
    <div class="row">
      <div class="col-3"></div>
      <div class="col">
        <div class="row">
          <div class="col"></div>
          <div class="col-2">
            <form action="" method="get">
              <select name="" id="" class="form-control p-0">
                <option selected>Filtrele</option>
                <option value="0">popülerlik</option>
                <option value="1">Artan fiyat</option>
                <option value="2">Azalan fiyat</option>
                <option value="3">eklnme zamanı(önce eski)</option>
                <option value="4">eklnme zamanı(önce yen)</option>
              </select>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-3">
        <ul class="list-group">
          <li class="list-group-item" style="max-height: 40px;">Markalar</li>
          {% for brand in brands %}
            <li class="list-group-item" style="max-height: 65px;">
              <a href="{{ brand.slug }}" class="h6">
                <img src="{{ brand.image.url }}" alt="" class="img-thumbnail circle" style="max-width: 45px; max-height: 45px;" />
                {{ brand.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-9">
        <div class="card-deck d-flex">
          {% for deal in deals %}
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="single-featured-cars">
                <div class="featured-img-box">
                  <div class="featured-cars-img">
                    <a href="{% url 'ilandetayı' deal.slug %}"><img src="{{ deal.banner.url }}" alt="cars" /></a>
                  </div>
                  <div class="featured-model-info">
                    <p>
                      model: {{ deal.model }}
                      <span class="featured-mi-span">{{ deal.km }} KM</span>
                      <span class="featured-hp-span">{{ deal.price }} TL</span>
                      {{ deal.Gearbox }}
                    </p>
                  </div>
                </div>
                <div class="featured-cars-txt">
                  <h2 class="d-flex align-center justify-content-center"><a href="{% url 'ilandetayı' deal.slug %}">{{ deal.title|truncatechars:25 }}</a></h2>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
